@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
         url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
         url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

/* Magical Harry Potter Styling */
:root {
    --gryffindor-red: #7f0909;
    --gryffindor-gold: #d4af37;
    --text-color: #821313;
    --border-color: #4b10a3;
}

.main,
.main input {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    font-family: "ColfaxAI", Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    background-color: var(--gryffindor-red); /* Your magical background color */
    border: 2px solid var(--gryffindor-gold);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.main .icon {
    width: 34px;
}

.main h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: var(--text-color);
    margin: 16px 0 40px;
    text-shadow: 3px 3px 2px #000;
}

.main form {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.main input[type="text"] {
    padding: 12px 16px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: 24px;
    outline-color: var(--gryffindor-gold);
    background-color: #333;
    color: var(--text-color);
}

.main ::placeholder {
    color: #8e8ea0;
    opacity: 1;
}

.main input[type="submit"] {
    padding: 12px 0;
    color: #fff;
    background-color: var(--border-color);
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main input[type="submit"]:hover {
    background-color: var(--gryffindor-gold);
    color: var(--gryffindor-red);
}

.main .result {
    font-weight: bold;
    margin-top: 40px;
}

.queryOutput {
    max-width: 90%; /* Adjust based on your layout */
    min-width: 90%;
    overflow: auto; /* Adds scrollbars when content overflows */
    background-color: #f4f4f4; /* Light grey background */
    border: 1px solid #ccc; /* Light grey border */
    padding: 10px;
    margin-top: 20px;
    white-space: pre-wrap; /* Ensures that data wraps within container */
    word-break: break-all; /* Ensures long strings do not overflow */
}

/* Logo styling */
.logo {
    width: 300px; /* Adjust size as needed */
    margin-bottom: 20px;
}
